@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  src: url('fonts/Raleway-Black.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: url('fonts/Raleway-ExtraBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('fonts/Raleway-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url('fonts/Raleway-SemiBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url('fonts/Raleway-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('fonts/Raleway-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url('fonts/Raleway-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  src: url('fonts/Raleway-ExtraLight.ttf')  format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  src: url('fonts/Raleway-Thin.ttf')  format('truetype');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('fonts/Roboto-Black.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 800;
  src: url('fonts/Roboto-ExtraBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('fonts/Roboto-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('fonts/Roboto-SemiBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('fonts/Roboto-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('fonts/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('fonts/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('fonts/Roboto-ExtraLight.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('fonts/Roboto-Thin.ttf')  format('truetype');
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('fonts/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


[hidden] {
	display: none!important;
}

.game {
	/* .bluehour https://github.com/evankarageorgos/hue/blob/master/hue.css */
	background: -webkit-linear-gradient(left, #7E898F 0%, #636C75 100%), -webkit-radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), -webkit-radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
	background: linear-gradient(90deg, #7E898F 0%, #636C75 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
	background-blend-mode: multiply, screen;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: Raleway;
	font-weight: 400;
	color: white;
}


.page {
	text-align: center;
	padding-top: 2.4rem;
}

.page-title {
	margin: 0;
}

.page-footer {
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.page-main {
    position: absolute;
    width: 100vw;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
}

h1 {
	font-size: 2.4rem;
	font-weight: 700;
	text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
h2 {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: .01em;
	text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
p {
}

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/** Switch style */
.switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-left: -1px;
}
.switch-input {
	display: none;
}
.switch-label {
	cursor: pointer;
	min-height: 3.2rem;
	padding: 0 1.4rem;
	margin: 0 2px 2px 0;
	line-height: 3.2rem;
	height: 3.2rem;
	font-size: 1.4rem;
	color: white;
	display: inline-block;
	border-radius: 2rem;
}
.switch-label:hover {
	color: white;
}
.switch-label:last-child {
	margin-right: 0;
}
.switch-input:checked + .switch-label {
	color: white;
	box-shadow: 0 0 0 2px white;
}
.switch-input:checked + .switch-label:hover {
	box-shadow: 0 0 0 2px white;
}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-decoration: none;
	border: none;
	outline: none;
	padding: .5rem 2rem;
	font-weight: 800;
	min-height: 2rem;
	line-height: 2rem;
	color: #393F44;
	min-width: 5rem;
	display: inline-block;
	border-radius: 2rem;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: .1ex;
	background: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: .5rem;
	font-family: Raleway;
	cursor: pointer;
}
.button[disabled] {
	opacity: .25;
}
.button:hover {
	box-shadow: 0 0 0 2px white;
}
.button:active {
}

.button-outline {
	cursor: pointer;
	min-height: 2rem;
	padding: 0 1rem;
	margin: 0 2px 2px 0;
	line-height: 2rem;
	color: white;
	display: inline-block;
	border-radius: 2rem;
	color: white;
	box-shadow: 0 0 0 2px white;
}
.number {
	font-family: Roboto;
}


.text-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	border: none;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0;
	width: 100%;
	border-radius: .5rem;
	padding-left: .4em;
	background: rgba(29, 33, 37, 0.38);
	box-shadow: inset 0 2px 6px rgba(0,0,0,.18), 0 1px 0 rgba(255,255,255,.2);
	color: white;
	text-shadow: none;
}


.avatar {
	border-radius: .5rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
	overflow: hidden;
}
.avatar-image {
	display: block;
	width: 5rem;
	height: 5rem;
}


/** main page style */
.main-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 65vh;
	margin: auto;
}
.main-content .switch {
	font-size: 1.4rem;
}
.switch--players {
	font-family: Roboto;
}


/* players page custom styles */
.players-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.player {
	clear: both;
	margin-bottom: 1rem;
}
.player-avatar {
	margin-right: .5rem;
	display: inline-block;
	vertical-align: top;
}
.player-credentials {
	display: inline-block;
	vertical-align: top;
	width: 15rem;
	position: relative;
}
.player-name {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: .15rem;
}
.player-email {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.player-status {
    position: absolute;
    top: .5rem;
    right: .25rem;
}
.player-status-error {
    color: rgb(218, 93, 63);
}
.player-status-success {
    color: rgb(139, 195, 74);
}
.player-message {
    margin: .75rem 0 1.5rem;
    color: rgb(255, 235, 59);
    text-align: left;
    padding: 0 1.5rem;
}

.avatars-popup {

}



/* game page custom styles */
.aim-container {
	position: relative;
	margin:	auto;
	font-family: Roboto;
	width: 100vmin;
	height: 100vmin;
	max-width: 460px;
	max-height: 460px;
	/*top: -2rem;*/
	/*left: 0;*/
	/*bottom: 0;*/
	/*right: 0;*/
}
.aim {
	position: absolute;
	margin:	auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 82%;
	height: 82%;
	max-width: 360px;
	max-height: 360px;
	border-radius: 100%;
}

.aim-0 {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 2s ease-in background;
}
.aim-0:active {
	background: yellow;
	transition: 0s ease-in background;
}
.aim-0:after, .aim-0:before {
	content: '0';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10%;
	text-align: center;
	line-height: 4rem;
	height: 4rem;
	margin: auto;
	color: rgb(35,33,33);
	font-weight: 900;
	font-size: 2rem;
}
.aim-0:before {
	left: auto;
	right: 0;
}

.aim-1 {
	cursor: pointer;
	width: 90%;
	height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: white;
	border: 1rem solid #B02925;
	border-radius: 100%;
	transition: 2s ease-in background;
}
.aim-1:active {
	background: yellow;
	transition: 0s ease-in background;
}
.aim-1:after, .aim-1:before {
	content: '1';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 15%;
	text-align: center;
	line-height: 4rem;
	height: 4rem;
	margin: auto;
	color: rgb(35,33,33);
	font-weight: 900;
	font-size: 2rem;
}
.aim-1:before {
	left: auto;
	right: 0;
}

.aim-2 {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 57%;
	width: 57%;
	border: 1rem solid rgb(35,33,33);
	border-radius: 100%;
	background: white;
	transition: 2s ease-in background;
}
.aim-2:active {
	background: yellow;
	transition: 0s ease-in background;
}
.aim-2:after, .aim-2:before {
	content: '2';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 25%;
	text-align: center;
	line-height: 4rem;
	height: 4rem;
	margin: auto;
	color: rgb(35,33,33);
	font-weight: 900;
	font-size: 2rem;
}
.aim-2:before {
	left: auto;
	right: 0;
}
.aim-5 {
	cursor: pointer;
	position: absolute;
	width: 22.5%;
	height: 22.5%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	border: 1rem solid #B02925;
	border-radius: 100%;
	background: white;
	transition: 2s ease-in background;
}
.aim-5:active {
	background: yellow;
	transition: 0s ease-in background;
}
.aim-5:after {
	content: '5';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 4rem;
	height: 4rem;
	margin: auto;
	color: rgb(35,33,33);
	font-weight: 900;
	font-size: 2rem;
}

.aim-clutch {
	position: absolute;
	width: 4rem;
	height: 4rem;
	background: rgb(35,33,33);
	top: 1rem;
	cursor: pointer;
	border-radius: 2rem;
	opacity: .15;
	transition: 2s ease-in background;
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}
.aim-clutch--active {
	opacity: 1;
}
.aim-clutch--active:active {
	transition: 0s ease-in background;
	background: yellow;
}
.aim-clutch:after {
	content: '7';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 4rem;
	height: 4rem;
	margin: auto;
	color: white;
	font-weight: 900;
	font-size: 1.6rem;
}

.aim-clutch--left {
	left: 1rem;
}
.aim-clutch--right {
	right: 1rem;
}


.game-turn {
	font-family: Roboto;
	display: inline-block;
	text-align: left;
}
.game-undo {
	/*margin-top: 1rem;
	font-weight: 200;
	font-size: 1.2rem;
	vertical-align: middle;
	line-height: 2rem;
	height: 2rem;
	cursor: pointer;*/
}
.game-players {
	position: absolute;
	top: -9rem;
	left: 0;
	right: 0;
	list-style: none;
	padding: 0;
}
.game-player {
	display: inline-block;
	vertical-align: middle;
	margin-right: .75rem;
	cursor: pointer;
}
.game-player-image {
	overflow: hidden;
	border-radius: .5rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
	display: block;
	width: 4rem;
	height: 4rem;
}
.game-player--active .game-player-image {
	border: .5rem solid white;
}
.game-player-name {
	margin-top: .5rem;
	margin-bottom: 0;
}
.game-player-score {
	font-family: Roboto;
}



/* stats page */
.page--stats .page-main {
	left: 0;
	top: 0;
	margin-top: 2rem;
	transform: initial;
	position: relative;
}

.player-stats {
	text-align: left;
	padding: 0 1.5rem;
}

.player-stats .player-image {
	width: 5rem;
	height: 5rem;
	margin-right: 1rem;
	float: left;
}

.player-clutches {
	margin-left: 1rem;
}

.player-scores {
	list-style: none;
	column-count: 2;
	padding: 0;
	overflow: hidden;
	margin-top: .66rem;
}

.player-scores li {
	margin-bottom: .33rem;
}
